APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ON/BfTnOQzAeJYv7cR3YSbLLeiGySftAPUJ+WM1e+l8=
APP_DEBUG=true
APP_URL=http://localhost:8000

JWT_SECRET=your-secret

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=assessment
DB_USERNAME=root
DB_PASSWORD=password

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

OCTANE_WORKERS=auto
OCTANE_MAX_REQUESTS=500

CREDIT_CARD_API_KEY=cc_live_example_key
CREDIT_CARD_SECRET=cc_live_example_secret
